<div class="g-notification">
	<% if (success) { %>
		<div class="g-notification-success">
			<p><%= success %></p>
		</div>
	<% } %>

	<% if (error) { %>
		<div class="g-notification-error">
			<p><%= error %></p>
		</div>
	<% } %>
</div>