body {
	/*font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;*/
	font-family: Microsoft YaHei;
	background: #f7f8fa;
	color: #333;
}
.r-content {
	position: relative;
    display: block;
    width: 960px;
    margin: 10px auto 0;
    background: #fff;
    padding: 25px;
    border-radius: 6px;
}

.clear:after, .fn-clear:after {
	display: block;
	content: "";
	clear: both;
	zoom: 1;
}

/********************* 提问框 *********************/
.r-askBox {
	position: absolute;
    right: 25px;
    top: 25px;
    width: 200px;
    background: #f3f3f3;
    border: 1px solid #e4e6e8;
    border-radius: 4px;
}
.r-askBox p {
	font-size: 14px;
    line-height: 55px;
    color: #000;
    text-align: center;
}
.r-askBox a {
	background: #095fb3;
    width: 170px;
    height: 30px;
    display: block;
    margin: 5px auto 15px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.r-askBox a:hover {
	background: #55abed;
	text-decoration: none;
}