.r-detailBox {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #f7f8fa;
}
.r-detail-title {
    padding: 20px 30px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-bottom: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0 rgba(0,37,55,.05);
}
.r-detail-title h3 {
	font-size: 24px;
}
.r-detail-title p {
	font-size: 15px;
    margin-top: 10px;
}
.r-detail-content {
    width: 680px;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-bottom: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0 rgba(0,37,55,.05);
    border-radius: 2px;
    padding: 0 30px;
}
.r-detail-content-header {
    font-size: 16px;
    line-height: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f0f2f7;
}
.r-detail-content-text {
    font-size: 15px;
    padding: 10px 0 20px;
}
/************** 编辑与删除 ***************/
.r-detail-edit a {
    margin-right: 10px;
    color: #698ebf;
    font-size: 13px;
    background: #eff6fa;
    display: inline-block;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
.r-detail-edit a:hover {
    text-decoration: none;
    background: #698ebf;
    color: #eff6fa;
}

