.r-login input {
	font-size: 14px;
	padding: 5px 10px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 2px 2px 0 0;
}
.r-login input, .r-login button {
	display: block;
    width: 85%;
    height: 38px;
    margin: 0 auto;
    box-sizing: border-box; 
}
.r-login .r-login-password {
	margin-top: -1px;
	border-radius: 0 0 2px 2px;
}
.r-login .r-login-btn {
	margin-top: 22px;
    background: #086ed5;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}
.r-login .r-login-btn:hover {
	background: #55abed;
}

/************ 错误提示 *************/
.r-login-passwordBox {
	position: relative;
}
.r-login-warn1, .r-login-warn2 {
	display: none;
	color: #c33;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: -20px;
}
.r-login-warn1 {
    top: 8px;
}
.r-login-warn2 {
    top: -29px;
}